---
layout: splash
permalink: /
hidden: true
title: KiwiChat
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home-1500x500.jpg
tagline: >
  Welcome to my personal webchat website!<br/> 

intro: 
  - excerpt: The online home for my articles and publications, public research notes, and the projects about which I am most excited.

feature_row:
  - title: "KiwiChat NextClient WordPress plugin"
    excerpt: "Try the new IRC KiwiChat WordPress plugin that works! based on kiwiirc nexclient, with 6 new themes."
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "Read"
  - title: "WORDPRESS PLUGIN KIWICHAT GENERATOR"
    excerpt: "Create your amazing KiwiChat based plugin Custom KiwiChat WordPress Plugin Generator, generate a custom zip file based on the KiwiChat."
    url: "https://custom.kiwichat.ml"
    btn_class: "btn--primary"
    btn_label: "Explore"
  - title: "My KiwiChat"
    excerpt: "Custom KiwiChat WordPress Plugin Generator"
    url: "/build/"
    btn_class: "btn--primary"
    btn_label: "Watch"      
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
